body {
  background-color: #44A1A0;
}

ul{
  padding:20px;
  list-style-type: none;
  font-size:130%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  left: 0;
}

li{
  float: left;
}
li a{
  text-align:center;
  display: block;
  color: purple;
  padding: 0px 130px;
}

li a:hover {
  background-color: anitquewhit;
  color: blue;
}

iframe{
  border-style: dashed;
  border-color: blue;
}

img {
  padding:90px;
  width: 500px;
  height:500px;
}
